
.upperLetter{
    text-transform: uppercase;
    letter-spacing: 2pt;
    text-align: left;
}

.btn-group-vertical{
    width: 100%;
}

.tipoBoton{
    background-color: #28B5E5;
    color: white;
    font-size: 10pt;
    
}

.iconElementPolitica{
    margin-right: 10px;
}



.divNoticiasPoliticasImagen{
    display: inline-block;
    max-width: 35%;
    min-width: 35%;
    padding: 5px;
    position: relative;
}

.divNoticiasPoliticas{
    display: inline-block;
    padding: 5% 2% 5% 5%;
    max-width: 65%;
    min-width: 65%;
}

.divCentradoDate{
    display: flex;
    justify-content: center;
    align-items: center;
}

.alignDivSpace{
    display:inline-block;
    margin-left: 5px;
    margin-right: 15px;

}

.alignDivTwo{
    display:inline-block;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 8pt;
}

.descripcionNoticias{
    text-align: justify;
    line-height: 100%;
    font-size: 10pt;
}

.elementoDescripcionDeNoticias{
    margin-bottom: 30px;
}

.contenedorDeNoticias{
    height: 90%;
}

.tituloDeElemento{
    line-height: 10%;
}